* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

:root {
  --yellow-bg: hsl(47, 88%, 63%);
  --dark-grey: hsl(0, 0%, 7%);
  --white-bg: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 42%);
}

body {
  background-color: var(--yellow-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  color: var(--dark-grey);
  transition: color 0.3s ease-in;
}

time {
  color: var(--dark-grey);
  font-size: clamp(0.75rem, 2vw, 0.875rem);
}

p {
  font-size: clamp(0.875rem, 2vw, 1rem);
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.blog-card {
  background-color: var(--white-bg);
  width: 24rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem);
  gap: 1.5rem;
  border: var(--dark-grey) solid 1px;
  border-radius: 1.25rem;
  box-shadow: 0.4rem 0.4rem 0 var(--dark-grey);
  transition: box-shadow 0.3s ease-in-out;
}

.blog-card:hover {
  box-shadow: 0.875rem 0.875rem 0 var(--dark-grey);
}

.blog-card:hover h1 {
  color: var(--yellow-bg);
  transition: color 0.3s ease-out;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-text {
  color: var(--grey);
}

.card-status {
  font-weight: 800;
  color: var(--dark-grey);
  font-size: clamp(0.75rem, 2vw, 0.875rem);
  background-color: var(--yellow-bg);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  align-self: flex-start;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.author-img {
  width: 2rem;
  height: 2rem;
}

.author-name {
  color: var(--dark-grey);
  font-weight: 800;
}

/* Remove animation to respect user preference */
@media (prefers-reduced-motion: reduce) {
  .blog-card {
    transition: none;
  }
  .h1,
  .blog-card:hover h1 {
    transition: none;
  }
}
