* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  /* border: #00ff00 solid 1px; */
}

body {
  background-color: hsl(47, 88%, 63%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.blog-card {
  background-color: hsl(0, 0%, 100%);
  max-width: 90vw;
  width: 24rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  border: hsl(0, 0%, 7%) solid 1px;
  border-radius: 1.25rem;
  box-shadow: 6px 6px 0px hsla(0, 0%, 7%, 1);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

h1 {
  font-size: 1.5rem;
  color: hsl(0, 0%, 7%);
}

.card-status {
  font-weight: 800;
  color: hsl(0, 0%, 7%);
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.author-img {
  width: 2rem;
  height: 2rem;
}
